@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-highlight: hsl(348, 20%, 95%);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-size-xs: 0.64rem; 
  --font-size-sm: 0.8rem;  
  --font-size-base: 1rem;  
  --font-size-h6: 1.25rem; 
  --font-size-h5: 1.563rem;
  --font-size-h4: 1.953rem;
  --font-size-h3: 2.441rem;
  --font-size-h2: 3.052rem;
  --font-size-h1: 3.815rem;
}

:root {
  --radius: 0.625rem;

  --background: #FAF4F6;
  --foreground: hsl(340, 10%, 20%);

  --card: #FBF9FA;
  --card-foreground: var(--foreground);

  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: #FF2056;
  --primary-foreground: #ffffff;

  --secondary: #F6EAEC;
  --secondary-foreground: #732637;
  --secondary-muted-foreground: #4D3339;

  --muted: #F7EDF0;
  --muted-foreground: hsl(340, 7%, 50%);

  --accent: var(--secondary);
  --accent-foreground: var(--secondary-foreground);

  --destructive: hsl(351, 80%, 48%);
  --destructive-foreground: #ffffff;

  --border: #F3E2E6;
  --input: #F6EEF0;
  --ring: var(--primary);

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: oklch(0.14 0.005 340);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.22 0.006 340);
  --card-foreground: var(--foreground);

  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.3 0.01 340); 
  --secondary-foreground: var(--foreground);

  --muted: oklch(0.26 0.008 340);
  --muted-foreground: oklch(0.75 0.01 340);

  --accent: var(--secondary);
  --accent-foreground: var(--secondary-foreground);

  --destructive: oklch(0.6 0.22 27);
  --border: oklch(0.28 0.01 340);
  --input: oklch(0.3 0.01 340);
  --ring: var(--primary);

  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-h1 { font-size: var(--font-size-h1); }
  .text-h2 { font-size: var(--font-size-h2); }
  .text-h3 { font-size: var(--font-size-h3); }
  .text-h4 { font-size: var(--font-size-h4); }
  .text-h5 { font-size: var(--font-size-h5); }
  .text-h6 { font-size: var(--font-size-h6); }
  .text-body { font-size: var(--font-size-base); }
  .text-small { font-size: var(--font-size-sm); }
  .text-xs { font-size: var(--font-size-xs); }
  .shadow-sm {
    box-shadow: 0 1px 4px 0px rgba(15, 10, 11, 0.05);
  }
}

.input-label {
  @apply text-sm text-muted-foreground font-medium ml-1;
}

.sub-heading {
  @apply text-lg font-semibold text-foreground mb-2 ml-1
}